# Android
*.iml
.gradle
.gradle_home
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizard.settings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build
/app/.cxx

# Kotlin
.kotlin/

# Native Libs Extracted from AARs
app/src/main/cpp/libs/extracted/

# Logs & Temp files
*.log
*.txt
*.zip

# OpenCV Local SDK
opencv-sdk/